.update-password-container {
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.update-password-container h2 {
  text-align: center;
}